.search-bar { 
    display: flex;
    align-items: center;
    background: white;
    width: 400px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    margin-left: 70px;
}

.filter-icon { 
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.search-container { 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    gap: 15px; 
}

.search-bar input { 
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.search-icon { 
    cursor: pointer;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    object-fit: contain;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.order-buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    color: gray;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.active { /* Este campo cambiaría el color del filtro que seleccionamos */
    background-color: black; 
    color: white;
}

.btn.active:hover { /* Este campo cambiaría el color del filtro que seleccionamos */
  background-color: black; 
  color: white;
}

.btn:active {
  background-color: #222; /* Color al hacer clic */
  color: white;
}

.btn:hover {
    background-color: #ddd;
}

/***************/
h1 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
}

h4 {
    font-size: 14px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    text-align: left;
    margin-left: 62px;
    margin-top: 5px;   
}

.album-card h4:hover {
  color: #286c53; /* Color al pasar el ratón */
}


.album-card h4, .album-card p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  transition: none; /* Desactiva la transición que afecta a los enlaces */
  color: black; /* Asegura que el color sea negro */
}

.song-card h4:hover {
  color: #286c53; /* Color al pasar el ratón */
}


.song-card h4, .song-card p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  transition: none; /* Desactiva la transición que afecta a los enlaces */
  color: black; /* Asegura que el color sea negro */
}

h4 a {
  text-decoration: none; /* Eliminar subrayado */
  color: inherit; /* Mantener el color del texto del h4 */
  font-size: inherit; /* Mantener el tamaño de la fuente del h4 */
  font-weight: inherit; /* Mantener el peso de la fuente del h4 */
}

h2 {
  font-family: 'Inter', sans-serif;
  width: 350px;
  height: 80px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 50px;
  text-align: left; /* Alinea el título a la izquierda */
}
  
.article-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mantiene todo alineado a la izquierda */
}
  
.article-card {
    width: 18%;
    text-align: center;
    overflow: hidden;
}
  
.article-card img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card img:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
  justify-content: flex-start;
  margin-left: 140px; /* Margen izquierdo para la lista */
}

.song-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  width: 250px;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.song-card a {
  text-decoration: none;
  color: inherit; /* Asegura que el color del enlace no cambie */
}

.song-card img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  margin: 0;
}

/* Estilos para el texto dentro de las tarjetas de álbum */
.song-card h4, .song-card p {
  width: 100%;
  margin: 5px 0;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  transition: transform 0s; /* Sin transición */
}

.song-card h4:hover {
  transition: transform 4s linear; /* Transición al pasar el ratón */
  transform: translateX(-100%); /* Desplaza el texto hacia la izquierda */
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
  justify-content: flex-start;
  margin-left: 140px; /* Margen izquierdo para la lista */
  margin-bottom: 50px; /* Margen inferior para la lista */
}

.album-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  width: 250px;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.album-card a {
  text-decoration: none;
  color: inherit; /* Asegura que el color del enlace no cambie */
}

.album-card img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  margin: 0;
}

/* Estilos para el texto dentro de las tarjetas de álbum */
.album-card h4, .album-card p {
  width: 100%;
  margin: 5px 0;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  transition: transform 0s; /* Sin transición */
}

.album-card h4:hover {
  transition: transform 4s linear; /* Transición al pasar el ratón */
  transform: translateX(-100%); /* Desplaza el texto hacia la izquierda */
}

.filter-container {
    font-family: 'Inter', sans-serif;
}

.filter-popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
  }
  
  .filter-popup.active {
    display: block; /* Muestra el popup cuando tiene la clase 'active' */
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply-button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button {
    background-color: #ccc;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .tag {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tag.selected {
    background-color: #5cbb60;
    color: white;
  }
  
  .remove-x {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }