<div class="search-container">
    <div class="search-bar">
        <input type="text" placeholder="Search">
          <span>
            <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
          </span>
    </div>  
    
    <span class="filter-container" (click)="toggleFilterPopup()">
          <img src="assets/icons/filter.svg" alt="Filter icon" class="filter-icon">
    </span>

    <div class="order-buttons">
      <button 
          class="btn" 
          [class.active]="selectedOrder === 'Novedades'" 
          (click)="selectOrder('Novedades')">
          Novedades
      </button>
      <button 
          class="btn" 
          [class.active]="selectedOrder === 'Valoración'" 
          (click)="selectOrder('Valoración')">
          Ordenar por valoración
      </button>
      <button 
          class="btn" 
          [class.active]="selectedOrder === 'PrecioAsc'" 
          (click)="selectOrder('PrecioAsc')">
          Ordenar por precio (ascendente)
      </button>
      <button 
          class="btn" 
          [class.active]="selectedOrder === 'PrecioDesc'" 
          (click)="selectOrder('PrecioDesc')">
          Ordenar por precio (descendente)
      </button>
  </div>
</div>

<div class="filter-container">

  <!-- Popup de filtro -->
  <div class="filter-popup" [ngClass]="{ 'active': isFilterActive }">
    <form>
      <div class="filter-section">
        <label>Tipo de artículo</label>
        <div class="tags">
          <div
            *ngFor="let type of types"
            (click)="toggleTypeSelection(type)"
            [class.selected]="selectedTypes.includes(type)"
            class="tag"
          >
            {{ type }}
            <span class="remove-x" *ngIf="selectedTypes.includes(type)" (click)="removeType(type, $event)">X</span>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <label>Precio</label>
        <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="sliderOptions" class="slider"></ngx-slider>
        <span>De {{ minPrice }} a {{ maxPrice }} €</span>
      </div>

      <div class="filter-section">
        <label>Filtrar por valoración</label>
        <div *ngFor="let rating of ratings">
          <input type="checkbox" [value]="rating" (change)="toggleRatingSelection(rating)"> {{ rating }}
        </div>
      </div>

      <button class="apply-button" (click)="applyFilters()">Aplicar</button>
      <button class="close-button" (click)="toggleFilterPopup()">Cerrar</button>
    </form>
  </div>
</div>

<div class="article-list">
  <div class="article-card" *ngFor="let article of articles" (click)="goToArticle(article.id, article.Type)">
    <img [src]="article.image" alt="{{ article.Name }}" />
    <h4> {{article.Name }} - {{article.Price}}   </h4>
    <h1>{{article.Type}}</h1>
    
  </div>
</div>
