<body>
<div *ngIf="song" class="song-container">
  <div class="song-content">
    <img [src]="song.image || 'assets/default-image.png'" alt="{{ song.name }}" class="song-image">
    
    <div class="song-info">
      <h1>{{ song.Name }}</h1>
      <h2>{{ song.Artist }}</h2>

      <div class="song-actions">
        <button class="icon-button" (click)="toggleLike()">
          <img [src]="isLiked ? 'assets/icons/Heart2.png' : 'assets/icons/Heart.png'" alt="NoLike/Like">
        </button>
        <button class="icon-button" (click)="shareSong()">
          <img src="assets/icons/Share2.png"  alt="Share">
        </button>
      </div>
      <button class="store-button" (click)="viewInStore(song.id)">Ver en tienda</button>
    </div>
  </div>

  <div class="audio-player">
    <button class="play-button" (click)="togglePlay()"> 
      <img [src]="isPlaying ? 'assets/icons/pause.svg' : 'assets/icons/Play.svg'" alt="Play/Pause">
    </button>
    <input type="range" class="progress-bar" min="0" max="1000" [value]="progress">
  </div>
</div>

<div *ngIf="!song">
  <p>Canción no encontrada</p>
</div>
  
</body>
