:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-family: 'Inter', sans-serif;
}

.song-container {
    display: flex;
    gap: 25px;
    width: 70%;
    max-width: 600px;
    /*background-color: #eafbe4;*/
    padding: 20px;
}

.song-image {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

/* Información de la canción */
.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
  
.song-info h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
  
.song-info h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
  
  /* Botones de acciones */
.song-actions {
    display: flex;
    align-items: center;
}
  
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}
  
.icon-button img {
    width: 24px;
    height: 24px;
}


/* Botón de tienda */
.store-button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
  
.store-button:hover {
    background-color: #333;
}
  
/* Controles del reproductor */
.audio-player {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
  
.play-button {
    background: none;
    border: none;
    cursor: pointer;
}
  
.progress-bar {
    flex-grow: 1;
    height: 5px;
    border-radius: 5px;
}