<header class="header">
  <section>
    UnderSounds
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <span>
          <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
        </span>
      </div>
      <img src="assets/icons/plus.svg" alt="Add Icon" class="plus-icon">
    </div>
  </section>

  <!-- Iconos de acciones -->
  <div class="actions">
    <img src="assets/icons/cart.svg" alt="Cart Icon" class="cart-icon">
    <img src="assets/icons/settings.svg" alt="Settings Icon" class="settings-icon">
    <div class="profile-icon">
      <img src="assets/icons/profile.svg" alt="Profile Icon" class="profile-icon">
    </div>
  </div>
</header>

<!-- Barra de navegación verde -->
<nav class="nav-bar">
  <a href="#">Canciones</a>
  <a href="#">Artistas</a>
  <a href="#">Playlists</a>
  <a href="#">Tienda</a>
</nav>
