<div class="login-container">
  <app-box-container>
    <h2 class="login-title">¿Has olvidado tu contraseña?</h2>
    <p class="input-label">Introduce tu correo electrónico</p>
    <input type="email" id="email" class="input-field" placeholder="Correo electrónico" required />

    <button type="submit" class="login-button">Enviar correo</button>

    <div class="links">
      <a (click)="goToLogin()">Iniciar Sesión</a>
      <br />
      <a (click)="goToRegister()">Registrarse</a>
    </div>
  </app-box-container>
</div>
