<body>  
  <div *ngIf="song" class="song-container">
    <div class="song-info">
      <div class="song-image">
        <img [src]="song.image" alt="{{song.Name}}">
      </div>
      <div class="song-details">
        <h2>{{ song.Name }}</h2>
        <h4>{{ song.Artist }}</h4>
        <div class="genres">
          <span *ngFor="let genre of song.Genre" class="genre">{{ genre }}</span>
        </div>
        <p class="price">${{ song.Price }}</p>
        <div class="stars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <i class="star" [ngClass]="{'filled': star <= songRating()}">★</i>
          </ng-container>
        </div>
        <p>{{ song.ReleaseDate }}</p>
        <div class="action-items">
          <button class="cart-button" (click)="viewInStore()">Añadir al carrito</button>
          <select [(ngModel)]="selectedFormat" class="format-select" (change)="downloadSong()">
            <option value="" disabled [selected]="!selectedFormat">Selecciona el tipo de descarga</option>
            <option *ngFor="let option of song?.DownloadOptions" [value]="option.file">
              {{ option.format }}
            </option>
          </select>
        </div>
        <div class="description-container">
          <h3 (click)="toggleDescription()" class="description-title">
            Descripción
            <span class="triangle">{{ descriptionVisible ? '▲' : '▼' }}</span>
          </h3>
          <p class="description-text" [style.display]="descriptionVisible ? 'block' : 'none'">
            {{ song.Description }}
          </p>
        </div>
      </div>
    </div>

    <div class="song-content">
      <h3>Reseñas</h3>
      <div *ngFor="let review of song.Reviews" class="review-info">
        <img [src]="review.userImage" alt="{{ review.userName }}">
        <div class="review-details">
          <h4>{{ review.review }}</h4>
          <div class="stars">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i class="star" [ngClass]="{'filled': star <= review.rating}">★</i>
            </ng-container>
          </div>
          <p>{{ review.userName }}</p>
          <p>{{ review.date }}</p>
        </div>
      </div>
      
      <div class="write-review">
        <h3>Escribe tu reseña</h3>
        <textarea [(ngModel)]="newReview" placeholder="Escribe tu reseña aquí..." class="review-text"></textarea>
        <div class="star-rating">
          <span *ngFor="let star of [1, 2, 3, 4, 5]" 
                (click)="selectRating(star)" 
                [ngClass]="{ 'filled': star <= newRating }">
            ★
          </span>
        </div>
        <div class="review-buttons">
          <button class="cancel-button" (click)="cancelReview()">Cancelar</button>
          <button class="store-button" (click)="addReview()">Publicar</button>
        </div>
      </div>
    </div>
  </div>
</body>