.profile-container {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
  padding: 20px;
  width: 55%;
  margin: auto;
}

.modify-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.profile-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  align-self: flex-start;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin-top: 50px;
  align-self: flex-start;
}

.mi-input {
  width: 510px;  
  height: 16px;  
  font-size: 14px; 
  padding: 12px; 
}

.mi-descripcion {
  width: 510px;  
  height: 118px; 
  resize: none; 
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  padding: 12px;
}

.profile-icon {
  height: 200px;
  width: 200px;
}

.profile-icon-container h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #333;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sections-buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 250px;
}

.btn {
  padding: 8px 12px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.btn.active, .btn:focus {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.btn.selected {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

.btn:hover {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

.charge-button {
  background-color: black;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.charge-button:hover {
  background-color: rgb(101, 100, 100);
  cursor: pointer;
}

.follow-button {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  align-self: flex-start;
}

.confirm-button {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 400px;
}

.confirm-button:hover {
  background-color: rgb(101, 100, 100);
}

.logout-button {
  background-color: rgb(101, 100, 100);
  color: white;
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: black;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}

.user-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}