<div *ngIf="section=='profile'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" [ngClass]="{'active': section === 'profile'}" (click)="changeSection('profile')">Editar Perfil</button>
        <button class="btn" (click)="changeSection('followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('favs')">Favoritos</button>
        <button class="btn" (click)="changeSection('orders')">Pedidos</button>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="currentUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ currentUser?.name}}</h1>
            <h4>Seguidores:{{ currentUser?.followerNumber}}</h4>
            <h3>{{ currentUser?.description }}</h3>
        </div>

        <div class="modify-container">
            <h3>Cambiar nombre</h3>
            <input type="text" class="mi-input" placeholder="Introduce aquí tu nuevo nombre" [(ngModel)]="newUsername">
            <h3>Cambiar contraseña</h3>
            <input type="password" class="mi-input" placeholder="Introduce aquí tu nueva contraseña" [(ngModel)]="newPassword">
            <h3>Cambiar descripción</h3>
            <textarea class="mi-descripcion" placeholder="Introduce aquí tu nueva descripción" [(ngModel)]="newDescription"></textarea>
            <h3>Cambiar foto de perfil</h3>
            <input type="file" id="photoInput" (change)="onPhotoSelected($event)" style="display: none;">
            <button type="button" (click)="triggerPhotoInput()">Cargar foto</button>
            <button class="confirm-button" (click)="saveChanges()">Aplicar cambios</button>
        </div>
    </div>
</div>

<div *ngIf="section == 'followers'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('profile')">Editar Perfil</button>
        <button class="btn" [ngClass]="{'active': section == 'followers'}" (click)="changeSection('followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('favs')">Favoritos</button>
        <button class="btn" (click)="changeSection('orders')">Pedidos</button>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="currentUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ currentUser?.name }}</h1>
            <h4>Seguidores:{{ currentUser?.followerNumber }}</h4>
            <h3>{{ currentUser?.description }}</h3>
        </div>

        <div class="user-list">
            <div class="user-card" *ngFor="let f of followers" (click)="viewProfile(f)">
                <img [src]="f.profilePicture || 'assets/icons/profile.svg'" alt="{{ f.userName }}">
                <h3>{{ f.userName }}</h3>
            </div>
        </div>
    </div>
</div>

<div *ngIf="section=='following'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('profile')">Editar Perfil</button>
        <button class="btn" (click)="changeSection('followers')">Seguidores</button>
        <button class="btn" [ngClass]="{'active': section == 'following'}" (click)="changeSection('following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('favs')">Favoritos</button>
        <button class="btn" (click)="changeSection('orders')">Pedidos</button>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="currentUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ currentUser?.name}}</h1>
            <h4>Seguidores:{{ currentUser?.followerNumber}}</h4>
            <h3>{{ currentUser?.description  }}</h3>
        </div>

        <div class="user-list">
            <div class="user-card" *ngFor="let f of followings" (click)="viewProfile(f)">
                <img [src]="f.profilePicture || 'assets/icons/profile.svg'" alt="{{ f.userName }}">
                <h3>{{ f.userName }}</h3>
            </div>
        </div>
    </div>
</div>

<div *ngIf="section=='favs'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('profile')">Editar Perfil</button>
        <button class="btn" (click)="changeSection('followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('following')">Siguiendo</button>
        <button class="btn" [ngClass]="{'active': section == 'favs'}"(click)="changeSection('favs')">Favoritos</button>
        <button class="btn" (click)="changeSection('orders')">Pedidos</button>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="currentUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ currentUser?.name}}</h1>
            <h4>Seguidores:{{ currentUser?.followerNumber}}</h4>
            <h3>{{ currentUser?.description }}</h3>
        </div>

        <div class="user-list">
            <h2>Álbumes favoritos</h2>
            <div class="user-card" *ngFor="let al of favAlbums" (click)="goToAlbum(al.idAlbum)" >
                <img [src]="al.albumThumbnail" alt="{{ al.name }}">
                <h3>{{ al.name }} - {{ al.artistName }}</h3>
            </div>

            <h2> Canciones favoritas </h2>
            <div class="user-card" *ngFor="let s of favSongs" (click)="goToSong(s.idSong)">
                <img [src]="s.thumbnail" alt="{{ s.name }}">
                <h3>{{ s.name }} - {{ s.artistName }}</h3>
            </div>
        </div>
    </div>
</div>

<div *ngIf="section=='orders'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('profile')">Editar Perfil</button>
        <button class="btn" (click)="changeSection('followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('favs')">Favoritos</button>
        <button class="btn" [ngClass]="{'active' : section == 'orders'}" (click)="changeSection('orders')">Pedidos</button>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="currentUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ currentUser?.name}}</h1>
            <h4>Seguidores:{{ currentUser?.followerNumber}}</h4>
            <h3>{{ currentUser?.description }}</h3>
        </div>

        <div class="user-list">
            <h2>Álbumes comprados</h2>
            <ng-container *ngFor="let order of orders">
                <div class="user-card" *ngIf="!order.isSong" (click)="goToAlbumArticle(order.idProduct)">
                    <img [src]="order.productThumbnail || 'assets/icons/default-album.png'" alt="{{ order.productName }}">
                    <h3>{{ order.productName }} - {{ order.artistName }}</h3>
                </div>
            </ng-container>
        
            <h2>Canciones compradas</h2>
            <ng-container *ngFor="let order of orders">
                <div class="user-card" *ngIf="order.isSong" (click)="goToSongArticle(order.idProduct)">
                    <img [src]="order.productThumbnail || 'assets/icons/default-song.png'" alt="{{ order.productName }}">
                    <h3>{{ order.productName }} - {{ order.artistName }}</h3>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="section=='user-followers'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" [ngClass]="{'active': section == 'user-followers'}" (click)="changeSection('user-followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('user-following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('user-favs')">Favoritos</button>
        <button class="btn" (click)="goToCurrentUserProfile()">Volver</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="selectedUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ selectedUser?.userName }}</h1>
            <h4>Seguidores: {{ selectedUser?.followerNumber }}</h4>
            <h3>{{ selectedUser?.description }}</h3>
            <button class="follow-button" (click)="updateFollowers()">{{ isFollowing ? 'Dejar de seguir' : 'Seguir' }}</button>
        </div>

        <div class="user-list">
            <div class="user-card" *ngFor="let f of followers" (click)="viewProfile(f)" >
                <img [src]="f.profilePicture || 'assets/icons/profile.svg'" alt="{{ f.userName }}">
                <h3>{{ f.userName }}</h3>
            </div>
        </div>
    </div>
</div>

<div *ngIf="section=='user-following'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('user-followers')">Seguidores</button>
        <button class="btn" [ngClass]="{'active': section == 'user-following'}" (click)="changeSection('user-following')">Siguiendo</button>
        <button class="btn" (click)="changeSection('user-favs')">Favoritos</button>
        <button class="btn" (click)="goToCurrentUserProfile()">Volver</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="selectedUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ selectedUser?.userName }}</h1>
            <h4>Seguidores: {{ selectedUser?.followerNumber }}</h4>
            <h3>{{ selectedUser?.description }}</h3>
            <button class="follow-button" (click)="updateFollowers()">{{ isFollowing ? 'Dejar de seguir' : 'Seguir' }}</button>
        </div>

        <div class="user-list">
            <div class="user-card" *ngFor="let f of followings" (click)="viewProfile(f)" >
                <img [src]="f.profilePicture || 'assets/icons/profile.svg'" alt="{{ f.userName }}">
                <h3>{{ f.userName }}</h3>
            </div>
        </div>
    </div>
</div>

<div *ngIf="section=='user-favs'">
    <div class="sections-buttons">
        <h2>Perfil</h2>
        <button class="btn" (click)="changeSection('user-followers')">Seguidores</button>
        <button class="btn" (click)="changeSection('user-following')">Siguiendo</button>
        <button class="btn" [ngClass]="{'active': section == 'user-favs'}" (click)="changeSection('user-favs')">Favoritos</button>
        <button class="btn" (click)="goToCurrentUserProfile()">Volver</button>
    </div>

    <div class="profile-container">
        <div class="profile-icon-container">
            <img [src]="selectedUser?.profilePicture || 'assets/icons/profile.svg'" alt="Profile Icon" class="profile-icon">
            <h1>{{ selectedUser?.userName }}</h1>
            <h4>Seguidores: {{ selectedUser?.followerNumber }}</h4>
            <h3>{{ selectedUser?.description }}</h3>
            <button class="follow-button" (click)="updateFollowers()">{{ isFollowing ? 'Dejar de seguir' : 'Seguir' }}</button>
        </div>

        <div class="user-list">
            <h2>Álbumes favoritos</h2>
            <div class="user-card" *ngFor="let al of favAlbums" (click)="goToAlbum(al.idAlbum)" >
                <img [src]="al.albumThumbnail" alt="{{ al.name }}">
                <h3>{{ al.name }} - {{ al.artistName }}</h3>
            </div>

            <h2>Canciones favoritas</h2>
            <div class="user-card" *ngFor="let s of favSongs" (click)="goToSong(s.idSong)">
                <img [src]="s.thumbnail" alt="{{ s.name }}">
                <h3>{{ s.name }} - {{ s.artistName }}</h3>
            </div>
        </div>
    </div>
</div>
