<header class="header">
  <section>
    <a href="#" class="logo">UnderSounds</a>
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <span>
          <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
        </span>
      </div>
      <!-- Plus Icon - Solo disponible si el usuario es artista -->
      <a *ngIf="isArtist" (click)="goToViewDiscography()">
        <img src="assets/icons/plus.svg" alt="Add Icon" class="plus-icon">
      </a>
    </div>
  </section>

  <div class="actions">
    <a (click)="goToCart()">
      <img src="assets/icons/cart.svg" alt="Cart Icon" class="cart-icon">
    </a>
    <a (click)="goToSettings()">
      <img src="assets/icons/settings.svg" alt="Settings Icon" class="settings-icon">
    </a>
    <div class="profile-icon">
      <a (click)="goToProfile()">
        <img [src]="profilePictureUrl" alt="Profile Icon" class="profile-icon" (error)="useDefaultPicture($event)">
      </a>
    </div>
  </div>
</header>
