<header class="header">
  <section>
    <a href="#" class="logo">UnderSounds</a>
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <span>
          <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
        </span>
      </div>
      <img src="assets/icons/plus.svg" alt="Add Icon" class="plus-icon">
    </div>
  </section>

  <div class="actions">
    <img src="assets/icons/cart.svg" alt="Cart Icon" class="cart-icon">
    <img src="assets/icons/settings.svg" alt="Settings Icon" class="settings-icon">
    <div class="profile-icon">
      <img src="assets/icons/profile.svg" alt="Profile Icon" class="profile-icon">
    </div>
  </div>
</header>
