h2 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

.main-menu-container {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.news-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.news-item img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


