/* Fondo general */
body{
  font-family: 'Inter', sans-serif;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e0e0e0;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  font-family: 'Inter', sans-serif
}



/* Título */
.box-container h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}

/* Campo input */
.box-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-size: 16px;
}

/* Estilo para el botón */
.box-container button {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Hover del botón */
.box-container button:hover {
  background-color: #222;
}
