
<div class="search-container">
    <div class="search-bar">
        <input type="text" placeholder="Search">
          <span>
            <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
          </span>
    </div>  
    
    <span class="filter-container">
          <img src="assets/icons/filter.svg" alt="Filter icon" class="filter-icon">
    </span>

    <div class="order-buttons">
        <button class="btn" (click)="setActive($event)"> Novedades</button>
        <button class="btn" (click)="setActive($event)">Orden alfabético</button>
        <button class="btn" (click)="setActive($event)">Orden por más escuchados</button>
        <button class="btn" (click)="setActive($event)">Orden por duración</button>
     </div> 
</div>

<div class="song-list">
  <div class="song-card" *ngFor="let song of songs" (click)="goIndividualSong(song.id)">
    <img [src]="song.image" alt="{{ song.Name }}" />
    <h4> {{song.Name }} - {{song.Duration}}   </h4>
    <p>{{song.Artist}}</p>
    
  </div>
</div>


