<h2 class="favorites-title">Tus Favoritas</h2>

<div class="song-list_first">
  <div class="song-card_first" *ngFor="let song of songs" (click)="goIndividualSong(song)">
    <img [src]="song.thumbnail" alt="{{ song.name }}" />
    <h4> {{song.name }} - {{song.songDuration}}</h4>
    <a (click)="goToArtistPage(song.idUser)">  
      {{ song.artistName || 'Artista desconocido' }}
    </a>
  </div>
</div>

<div class="search-container">
    <div class="search-bar">
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearchChange()">
          <span>
            <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon">
          </span>
    </div>

    <span class="filter-container" (click)="toggleFilterPopup()">
          <img src="assets/icons/filter.svg" alt="Filter icon" class="filter-icon">
    </span>

    <div class="order-buttons">
        <button class="btn" [ngClass]="{'selected': selectedTag === 'Novedades'}"
        (click)="selectTag('Novedades'); filterByTag('Novedades')"> Novedades</button>
        <button class="btn" [ngClass]="{'selected': selectedTag === 'Orden alfabético'}"
        (click)="selectTag('Orden alfabético'); filterByTag('Orden alfabético')">Orden alfabético</button>
        <button class="btn" [ngClass]="{'selected': selectedTag === 'Orden por más escuchadas'}"
        (click)="selectTag('Orden por más escuchadas'); ">Orden por más escuchadas</button>
        <button class="btn" [ngClass]="{'selected': selectedTag === 'Orden por duración'}"
        (click)="selectTag('Orden por duración'); filterByTag('Orden por duración')">Orden por duración</button>
     </div>
</div>

<div class="song-list">
  <div class="song-card" *ngFor="let song of songs" (click)="goIndividualSong(song)">
    <img [src]="song.thumbnail" alt="{{ song.name }}" />
    <h4> {{song.name }} - {{song.songDuration}}</h4>
    <a [routerLink]="['/artist', formatArtistName(song.artistName)]">  {{ song.artistName }}  </a>

  </div>
</div>

<div class="filter-popup" [class.active]="isPopupOpen">
  <form>
    <div class="filter-section">
      <label>Género</label>
      <div class="tags">
        <div
          *ngFor="let genre of genres"
          (click)="toggleGenreSelection(genre)"
          [class.selected]="selectedGenres.includes(genre)"
          class="tag"
        >
          {{ genre }}
          <span class="remove-x" *ngIf="selectedGenres.includes(genre)" (click)="removeGenre(genre, $event)">X</span>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <label>Duración</label>
      <ngx-slider
        [(value)]="minDuration"
        [(highValue)]="maxDuration"
        [options]="durationSliderOptions">
      </ngx-slider>
      <span>Duración: {{ minDuration }} - {{ maxDuration }} min</span>
    </div>
    <div class="filter-section">
      <label>Año de lanzamiento</label>
      <ngx-slider [(value)]="minYear" [(highValue)]="maxYear" [options]="yearSliderOptions" class="slider"></ngx-slider>
      <span>De {{ minYear }} a {{ maxYear }} año de lanzamiento</span>
    </div>
  <button class="apply-button" (click)="applyFiltersPopup()">Aplicar</button>

