.favorites-title {
  width: 350px;
  height: 80px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 55px;
  text-align: left;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    width: 400px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    margin-left: 20px;
}

.filter-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    width: auto;
    padding: 20px;
    margin-top: 30px;
    gap: 15px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.search-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    object-fit: contain;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    color: gray;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.selected{
    background-color: #222;
    color: white;
}

.btn:hover {
    background-color: #ddd;
}

.btn.selected:hover {
    background-color: #222;
    color: white;
}

/***************/
h1 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: -5px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    font-family:  'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: -0.75%;
    text-align: center;
    margin-top: 10px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    text-align: left;
    margin-left: 30px;
    color: black;
    cursor: pointer;
}

p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin: 5px 0;
    color: black;
    cursor: pointer;
}

.song-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Esto mantiene todo alineado a la izquierda */
}

.song-list_first {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-left: 40px;
  padding-left: 0;
  width: auto;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 40px;
    padding-left: 0;
    width: auto;
}

.song-card_first {
  width: 18%;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.song-card_first img {
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
  object-fit: cover;
  cursor: pointer;
}

.song-card_first img:hover {
  transform: scale(0.95); /* Reduce ligeramente el tama単o de la imagen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* A単ade sombra al hacer hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.song-card_first h4 {
  width: 100%;
  margin: 5px 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 0s;
}

.song-card_first h4:hover {
  transition: transform 4s linear;
  transform: translateX(-100%);
}

.song-card_first p {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: black;
  text-align: center;
}

.song-card {
    width: 18%;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.song-card img {
    width: 250px;
    height: 250px;
    margin-bottom: 12px;
    object-fit: cover;
    cursor: pointer;
}

.song-card img:hover {
    transform: scale(0.95); /* Reduce ligeramente el tama単o de la imagen */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* A単ade sombra al hacer hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.song-card h4 {
    width: 100%;
    margin: 5px 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transition: transform 0s;
}

.song-card h4:hover {
    transition: transform 4s linear;
    transform: translateX(-100%);
}

.song-card p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: black;
    text-align: center;
}

.filter-popup {
    display: none;
    position: absolute;
    font-family: 'Inter', sans-serif;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    border: 0.5px solid #ccc;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-left: 270px;
    margin-top: 300px;
}

.filter-popup.active {
    display: block;
}

.apply-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8%;
  padding: 10px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.filter-section {
    margin: 20px;
}

.remove-x {
    margin-left: 8px;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
}

.tag.selected {
    background-color: #5cbb60;
    color: white;
}
