h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 36px;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 100px;
    margin-bottom: 60px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: -0.75%;
    text-align: center;
    margin-top: 10px;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -80px;
    padding-top: 80px;
}

.song-card {
    text-align: center;
    overflow: hidden;
    margin-left: 50px;
}

.song-card img {
    width: 210px;
    height: 210px;
    cursor: pointer;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -80px;
    padding-top: 80px;
}

.album-card {
    text-align: center;
    overflow: hidden;
    margin-left: 50px;
}

.album-card img {
    width: 210px;
    height: 210px;
    cursor: pointer;
}

.album-info {
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
}

.album-duration {
    margin-left: 95px;
}

.plus-card img {
    display: block;
    margin-left: 30px;
    margin-top: 55px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
