<body>
<div *ngIf="artist" class="artist-container">
  <div class="artist-info">
    <!-- Imagen del artista -->
    <div class="artist-image">
      <img [src]="artist.image" alt="{{ artist.ArtistName }}" />
    </div>

    <!-- Información del artista -->
    <div class="artist-details">
      <h2>{{ artist.ArtistName }}</h2>
      <h4>{{ artist.description }}</h4>
      
      <!-- Botones -->
      <div class="buttons">
        <img 
          [src]="isFavorite ? 'assets/icons/Heart2.png' : 'assets/icons/Heart.png'" 
          (click)="toggleFavorite()" 
          class="favorite-icon"
          alt="Favorito"
        />
        <img 
          src="assets/icons/Share2.png" 
          (click)="shareArtist()" 
          class="icon share-icon"
          alt="Compartir"
        />
      </div>
    </div>
  </div>

 <!-- Contenedor de canciones y álbumes -->
 <div class="artist-content">
  <div class="artist-songs">
    <h3>Canciones</h3>
    <div class="song" *ngFor="let song of songs">
      <div class="song-info">
        <img [src]="song.image" alt="{{ song.title }}" />
        <div class="song-details">
          <h4>{{ song.Name }}</h4>
          <h4 class="song-duration">{{ song.Duration }}</h4>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="artist-albums">
    <h3>Álbumes</h3>
    <div class="album" *ngFor="let album of albums">
      <div class="album-info">
        <img [src]="album.image" alt="{{ album.title }}" />
        <div class="album-details">
          <h4>{{ album.Name }}</h4>
          <h4 class="album-duration">{{ album.Duration }}</h4>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
</div>

<div *ngIf="!artist">
  <p>Artista no encontrado</p>
</div>
</body>