/* Contenedor principal */
/*.upload-container {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 85px auto;
    font-family: 'Inter', sans-serif;
}*/

/* Formulario */
.form-group {
    margin-bottom: 60px;
}

.form-group:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 450px;
    margin-top: 210px;
}



.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 26px;
}

/* Inputs de texto */
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón personalizado para inputs de tipo file */
.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-file-upload label {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 120px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.custom-file-upload label:hover {
    background-color: #555;
}

.custom-file-upload input[type="file"] {
    display: none; /* Oculta el input de tipo file */
}

/* Botón de envío */
button.btn {
    position: absolute;
    top: 600px;
    right: 0px;
    width: auto;/**/
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button.btn:hover {
    background-color: #555;
}

.song-thumbnail {
    position: absolute;
    top: 366px; 
    left: 124px; 
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px; 
}