
h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.song-thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: 125px;
}

.upload-thumbnail {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 450px;
    margin-top: -250px;
}

.upload-thumbnail-button button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.upload-thumbnail-button button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}

.enter-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 450px;
    margin-top: 50px;
}

.enter-title-input input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.load-song {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 50px;
}

.step-3 {
    font-size: 25px;
}

.song-file button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.song-file button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}

.define-price {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 30px;
}

.create-song button {
    background-color: black;
    color: white;
    width: 200px;
    height: 90px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 685px;
    margin-top: -25px;
    margin-bottom: 50px;
    cursor: pointer;
}

.create-song button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}