<div class="faq-container">
  <h1>Preguntas Frecuentes <span class="faq-icon">❓</span></h1>

  <h2>¿Cómo puedo crear una cuenta?</h2>
  <p>¡Súper fácil! 🤩</p>
  <p>Solo tienes que registrarte en UnderSounds utilizando tu cuenta de Google, Facebook o cualquier otro método de autenticación que tenemos preparado para ti. ¡En un par de clics estarás listo para explorar y comprar música! 🎵✨</p>

  <h2>¿Qué formatos de música están disponibles?</h2>
  <p>Queremos que disfrutes de la mejor calidad, ¡como se debe! 💡</p>
  <p>Por eso, ofrecemos MP3, FLAC y WAV, todos en alta calidad para que disfrutes de cada detalle de tus canciones favoritas. ¡Sin interrupciones y sin perder nada de magia! ✨</p>

  <h2>¿Cómo puedo comprar una canción o álbum?</h2>
  <p>¡Comprar música nunca fue tan fácil! 😎</p>
  <p>Solo tienes que iniciar sesión (si lo necesitas para asegurar que todo vaya directo a tu cuenta), elegir el álbum o canción que te enamoró, añadirlo a tu carrito y pagar de manera segura. Y listo, ¡tu música está al alcance de tus manos! 🎶🛍️</p>

  <h2>Soy artista, ¿cómo puedo subir mi música?</h2>
  <p>¡Nos encanta que quieras formar parte de la comunidad! 🎤🎵</p>
  <p>Si eres músico, solo tienes que registrarte, verificamos tu cuenta y ¡voilà! Ya podrás crear y editar tus álbumes, subir canciones, poner precios y gestionar tu perfil público. Todo bajo tu control, ¡como debe ser! 💿🔥</p>

  <h2>¿Puedo dejar comentarios y valoraciones?</h2>
  <p>¡Claro que sí! 👍</p>
  <p>Los usuarios registrados pueden comentar y valorar las canciones y álbumes que compren o escuchen. ¿Te encantó algo? ¡Déjanos saberlo y dale todo tu amor al artista! 🖤</p>

  <h2>¿Cómo se protege mi información personal?</h2>
  <p>La seguridad es súper importante para nosotros. 🔐</p>
  <p>Usamos sistemas de encriptación avanzados y seguimos las normas más estrictas para mantener tus datos a salvo. Si tienes alguna duda, puedes revisar nuestra <a (click)="goToPrivacy()">Política de privacidad</a>. ¡Tu tranquilidad es lo primero!</p>

  <h2>¿Aún tienes dudas?</h2>
  <p>¡No te preocupes! Estamos aquí para ayudarte. 🙏</p>
  <p>
    Si necesitas más información o asistencia, no dudes en contactarnos en
    <a href="mailto:soporte&#64;undersounds.com">soporte&#64;undersounds.com</a>.
    ¡Te responderemos tan rápido como puedas hacer un click! 📩
  </p>
</div>
