<div class="register-container">
  <app-box-container>
    <h2 class="register-title">Registrarse como artista</h2>

    <form>
      <label for="name">Nombre artístico</label>
      <input type="text" id="name" placeholder="Nombre" required>

      <label for="username">Usuario</label>
      <input type="text" id="username" placeholder="User" required>

      <label for="email">Correo electrónico</label>
      <input type="email" id="email" placeholder="Mail" required>

      <label for="password">Contraseña</label>
      <input type="password" id="password" placeholder="Contraseña" required>

      <label for="repeat-password">Repetir contraseña</label>
      <input type="password" id="repeat-password" placeholder="Contraseña" required>

      <div class="terms-container">
        <input type="checkbox" id="terms" />
        <label for="terms">He leído los términos y condiciones</label>
      </div>

      <button class="register-button" type="submit">Registrarse</button>
    </form>
  </app-box-container>
</div>
