<body>
  
  <!-- SOLO si el usuario está autenticado -->
  <div *ngIf="!isGuest">
    <h2>Seguidos</h2>

    <div *ngIf="!followedArtists.length" class="no-results">
      <p>No hay artistas seguidos.</p>
    </div>

    <div *ngIf="followedArtists.length">
      <div class="artist-list">
        <div class="artist-card" *ngFor="let artist of followedArtists">
          <a (click)="goToArtistPage(artist)">
            <img [src]="artist.profilePicture" alt="{{ artist.name }}" />
          </a>
          <h4>
            <a (click)="goToArtistPage(artist)">{{ artist.name }}</a>
          </h4>
        </div>
      </div>
    </div>
  </div>


  
  <div class="search-container">
    <!-- Barra de búsqueda reactiva -->
    <div class="search-bar">
      <input
        type="text"
        placeholder="Buscar artista..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange($event)" />
  
      <span>
        <img src="assets/icons/search.svg" alt="Search Icon" class="search-icon" />
      </span>
    </div>
  
    <!-- Icono de filtro -->
    <span class="filter-container" (click)="toggleFilterPopup()">
      <img src="assets/icons/filter.svg" alt="Filter icon" class="filter-icon" />
    </span>
  
    <!-- Botones de orden -->
    <div class="order-buttons">
      <button class="btn" [class.active]="selectedOrder === 'Orden alfabético'" (click)="selectOrder('Orden alfabético')">Orden alfabético</button>
      <button class="btn" [class.active]="selectedOrder === 'Orden por más escuchados'" (click)="selectOrder('Orden por más escuchados')">Orden por más escuchados</button>
      <button class="btn" [class.active]="selectedOrder === 'Más Seguidos'" (click)="selectOrder('Más Seguidos')">Más Seguidos</button>
    </div>
  </div>
  
  <!-- No hay resultados -->
  <div *ngIf="!hasResults" class="no-results">
    <p>No hay resultados encontrados</p>
  </div>
  
  <!-- Lista de artistas -->
  <div *ngIf="hasResults">
    <div class="artist-list">
      <div class="artist-card" *ngFor="let artist of artists">
        <a (click)="goToArtistPage(artist)">
          <img [src]="artist.profilePicture" alt="{{ artist.name }}" />
        </a>
        <h4>
          <a (click)="goToArtistPage(artist)">{{ artist.name }}</a>
        </h4>
      </div>
    </div>
  </div>
  
  <!-- Popup de filtros -->
  <div class="filter-popup" [class.active]="isPopupOpen">
    <form>
      <!-- Géneros -->
      <div class="filter-section">
        <label>Género</label>
        <div class="tags">
          <div *ngFor="let genre of genres"
              (click)="toggleGenreSelection(genre)"
              [class.selected]="selectedGenres.includes(genre)"
              class="tag">
            {{ genre }}
            <span class="remove-x" *ngIf="selectedGenres.includes(genre)" (click)="removeGenre(genre, $event)">X</span>
          </div>
        </div>
      </div>
  
      <!-- Países -->
      <div class="filter-section">
        <label>Nacionalidad</label>
        <div *ngFor="let country of countries">
          <input
            type="checkbox"
            [checked]="selectedCountries.includes(country)"
            (change)="toggleCountrySelection(country)" />
          {{ country }}
        </div>
      </div>
    </form>
  
    <button class="apply-button" (click)="applyFilters()">Aplicar</button>
  </div>
  
</body>
  