html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
}

router-outlet {
  flex: 1;
  display: flex;
  flex-direction: column;
}
