<!DOCTYPE html>
<html lang="es">
<body>
    <h1>Modificar Canción</h1>

    <div class="form">
        <img [src]="newSong.thumbnail || 'assets/images/Square.png'" alt="Portada de la canión" class="song-thumbnail">
        <input type="file" id="image" (change)="uploadPhoto($event)" style="display: none;">

        <div class="upload-thumbnail">
            <label for="image">1. Cargar portada de la canción</label>
            <div class="upload-thumbnail-button">
                <button type="button" (click)="triggerFileInput()">Subir foto</button>
            </div>
        </div>

        <div class="enter-title">
            <label for="name">2. Introduce el nombre de la canción</label>
            <div class="enter-title-input">
                <input type="text" id="name" name="name" [(ngModel)]="newSong.name" placeholder="Nombre canción" class="title-input">
            </div>
        </div>

        <div class="load-song">
            <label for="name" class="step-3">3. Carga la pista de audio</label>
            <div class="song-file">
                <input type="file" id="file" (change)="uploadSong($event)" style="display: none;">
                <button type="button" (click)="triggerSongInput()">Cargar pista</button>
            </div>
            <audio *ngIf="audioSrc" [src]="audioSrc" controls class="audio-player"></audio>
        </div>

        <div class="song-genre">
            <label for="genre">4. Selecciona el género de la canción</label>
            <div class="song-genre-select">
                <select id="genre" name="genre" [(ngModel)]="newSong.genre" class="genre-select">
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Metal">Metal</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Classical">Clásica</option>
                    <option value="Hip-Hop">Hip-Hop</option>
                    <option value="Reggaeton">Reggaeton</option>
                    <option value="Trap">Trap</option>
                    <option value="Country">Country</option>
                    <option value="Electronic">Electrónica</option>
                </select>
            </div>
        </div>

        <div class="define-price">
            <label for="price">5. Definir Precio</label>
            <div class="enter-title-input">
                <input type="number" id="price" name="price" [(ngModel)]="newSong.price" placeholder="Precio" class="price-input">
            </div>
        </div>

        <div class="modify-song">
            <button type="button" (click)="modifySong()">Modificar Canción</button>
        </div>

        <div class="delete-song">
            <button type="button" (click)="deleteSong()">Eliminar Canción</button>
        </div>

        <div class="change-history">
            <label for="changes">Historial de cambios</label>
            <div class="changesList" *ngFor="let change of changeHistory">
                <h2 class="modification">{{ change.Modification }}</h2>
                <h2 class="date">{{ change.Date }}</h2>
                <h2 class="price-2"> {{ change.Price }} €</h2>
                <button type="button">Restablecer</button>
            </div>
        </div>
    </div>
</body>
</html>