h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 100px;
    margin-bottom: 60px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: -0.75%;
    text-align: center;
}

.song-thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: 125px;
}

.upload-thumbnail {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 450px;
    margin-top: -250px;
}

.upload-thumbnail-button button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.upload-thumbnail-button button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}

.enter-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 450px;
    margin-top: 50px;
}

.enter-title-input input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.load-song {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 50px;
}

.step-3 {
    font-size: 25px;
}

.song-file button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.song-file button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}

.song-genre {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 30px;
}

.song-genre-select {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
}

.song-genre select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    letter-spacing: -0.75%;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.define-price {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-top: 30px;
}

.modify-song button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 1150px;
    margin-top: 25px;
    cursor: pointer;
}

.modify-song button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}

.delete-song button {
    background-color: rgb(170, 0, 0);
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 1150px;
    margin-top: 25px;
    margin-bottom: 50px;
    cursor: pointer;
}

.delete-song button:hover {
    background-color: black;
    color: white;
}

.change-history {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-left: 125px;
    margin-bottom: 50px;
}

.changesList {
    display: grid;
    grid-template-columns: 400px 300px 300px 300px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modification {
    grid-column: 1;
}

.date {
    grid-column: 2;
}

.price-2 {
    grid-column: 3;
}

.change-history button {
    grid-column: 4;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75%;
    cursor: pointer;
}

.change-history button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}